[Unit]
Description=Container for deluge daemon, web UI, GTK UI server

[Container]
Image=docker.io/linuxserver/deluge:2.1.1
Volume=/data/deployment/podman_configs/deluge/:/config:Z
Volume=/data/torrents/:/downloads:z
Environment=PUID=1000 PGID=1000 TZ=America/Los_Angeles DELUGE_LOGLEVEL=info
Network=container:systemd-gluetun

[Service]
Restart=always
TimeoutStartSec=180

[Install]
WantedBy=default.target
Wants=gluetun.service