[Unit]
Description=Backup data dir

[Service]
Type=oneshot
# TODO: Change this to only backup /data/torrents, different backup timers for different subdirs?
# That way each application group controls things like maintenance mode, bucket access, etc
ExecStart=%h/backup.sh /data
Environment=RESTIC_REPOSITORY_FILE=%h/secrets/.restic_repo_media
Environment=RESTIC_PASSWORD_FILE=%h/secrets/.restic_passwd_media
