[Unit]
Description=Container for deluge daemon, web UI, GTK UI server

[Container]
Image=docker.io/linuxserver/deluge:2.1.1
Volume=%h/torrents/deluge_state/:/config:Z
# TODO: Template-ize this file with ansible so I can pass in data/torrents dir from config.ansible.yml instead
# of hard coding /data here
Volume=/data/torrents/:/downloads:Z,noexec
Environment=TZ=America/Los_Angeles DELUGE_LOGLEVEL=info
# quadlets generates systemd-gluetun container name from gluetun.container
# I can manually specifiy the generated container name but this is fine currently
Network=container:systemd-gluetun 
# We need to map data group into this container
# so that abc (deluge user) inside container can access it
# currently it shows users as 'nobody' for /data/torrents (/downloads within container)
# How to ensure all users of the container all are mapped?
SubUIDMap=%u
SubGIDMap=%g

[Service]
Restart=always
TimeoutStartSec=180

[Install]
WantedBy=default.target
