[Unit]
Description=Container for VPN proxy

[Container]
Image=docker.io/qmcgaw/gluetun:v3.38
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun
Volume=%h/secrets/wg0.conf:/gluetun/wireguard/wg0.conf:Z,noexec
# TODO: Currently uses the wg0.conf file, can I get rid of it and use podman secrets?
# Trivial to download again from proton but handling the private key like this feels wrong...
Environment=VPN_SERVICE_PROVIDER=custom VPN_TYPE=wireguard VPN_PORT_FORWARDING=on VPN_PORT_FORWARDING_PROVIDER=protonvpn
# 8112 is deluge web UI
PublishPort=8112:8112 
# 6881 is data transfer/tracker announce
PublishPort=6881:6881 
PublishPort=6881:6881/udp 
# 58846 is deluge GTK UI
PublishPort=58846:58846 

[Service]
Restart=always
TimeoutStartSec=180

[Install]
WantedBy=deluge.service
WantedBy=default.target
