[Unit]
Description=Container for deluge daemon, web UI, GTK UI server

[Container]
Image=docker.io/linuxserver/deluge:2.1.1
Volume=~/deluge_state:/config:Z
Volume=/data/torrents/:/downloads:z
# Remember I used to set PUID=1000 PGID=1000 with podman-compose needed here?
Environment=TZ=America/Los_Angeles DELUGE_LOGLEVEL=info
# quadlets generates systemd-gluetun container name from gluetun.container
# I can manually specifiy the generated container name but this is fine currently
Network=container:systemd-gluetun

[Service]
Restart=always
TimeoutStartSec=180

[Install]
WantedBy=default.target
